<div id="best_time_object_ev">
    <div id="best_time_university_ev" class="best_time_university">
        Università degli Studi di Parma
    </div>
    <img id="best_time_team_ev" style="width: 240px; height: 36px;" src="../../static/icons/team_parts/02.png"
        alt="Team Logo">
    <div style="display: flex; margin-top: -1px;">
        <div id="best_time_time_ev" class="best_time_time">00.000</div>
        <img src="../../static/icons/ev.png" width="80" height="80" style="background-color: white;">
        <div id="best_time_car_number_ev" class="best_time_car_number">112</div>
    </div>
</div>


<br><br><br><br>


<div id="best_time_object_cv">
    <div id="best_time_university_cv" class="best_time_university">
        Università degli Studi di Parma
    </div>
    <img id="best_time_team_cv" style="width: 240px; height: 36px;" src="../../static/icons/team_parts/02.png"
        alt="Team Logo">
    <div style="display: flex; margin-top: -1px;">
        <div id="best_time_time_cv" class="best_time_time">00.000</div>
        <img src="../../static/icons/cv.png" width="80" height="80" style="background-color: white;">
        <div id="best_time_car_number_cv" class="best_time_car_number">112</div>
    </div>
</div>

<link rel="stylesheet" href="../../static/css/graphics/best_time.css">
<script src="../../static/js/graphics/best_time.js"></script>