<div id="current_team_object">
    <div id="current_team_container">
        <div id="current_team_white_box"></div>
        <div id="current_team_red_top"></div>
    </div>

    <div id="current_team_scrolling_container">
        <img id="current_team_scrolling_image" src="/static/images/current_team/image.png" alt="Scrolling" />
    </div>
</div>

<link rel="stylesheet" href="/static/css/graphics/current_team.css">
<script src="/static/js/graphics/current_team.js"></script>
<script>current_team_ShowTeam();</script>
