@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


#best_time_down_ev,
#best_time_down_cv {
    transition: all 0.8s;

    height: 80px;
    overflow: hidden;
}


#best_time_object_ev,
#best_time_object_cv {
    display: flex;
    flex-direction: column;
    position: absolute;

    zoom: 0.85;
    width: 240px;

    transition: all 0.5s;
    overflow: hidden;
}

#best_time_object_ev {
    right: 70px;
    top: 75px;
}

#best_time_object_cv {
    right: 70px;
    top: 225px;
}

.best_time_university {
    width: 240px;
    height: 17.5px;
    font-size: 8.5pt;
    margin-bottom: -1px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(to right, transparent, #232323, #232323, transparent);
}

.best_time_time {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    width: 80px;
    height: 80px;
    font-size: 16.5pt;
    background-color: #232323;
}

.best_time_car_number {
    width: 80px;
    height: 80px;
    font-size: 28pt;
    font-weight: 600;
    background-color: white;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}