@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 75px 70px;
    margin: 0px;
}


#endurance_icon {
    transition: all 1s;
    transition-delay: 1.5s;
}

.endurance_team {
    position: absolute;
    top: 180px;
    left: 70px;
    transition: top 1s, opacity 1s;
    opacity: 1;
}


.endurance_university {
    width: 246px;
    height: 16px;
    font-size: 7pt;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(to right, transparent, #232323, #232323, transparent);
}

.endurance_car_number {
    width: 31px;
    height: 31px;
    font-size: 12pt;
    font-weight: 600;

    background-color: white;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endurance_time_container {
    margin-top: -1px;
    display: flex;
    background-color: #232323;
    color: white;

    height: 41px;
}

.endurance_best_time,
.endurance_difference {
    margin: 0px;
    width: 107.5px;
    height: 20px;
    font-size: 9pt;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}


.endurance_best_time_result,
.endurance_difference_result {
    margin: 0px;

    width: 107.5px;
    height: 20px;
    font-size: 9pt;
    font-weight: 200;
    background-color: #2f2f2f;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    display: block;
}


.endurance_lap_number {
    width: 18px;
    height: 18px;
    background-color: #c8102e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9pt;
    margin: 0;
}