<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FSS ON-LINE RESULTS 2025</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            font-family: 'Montserrat';
            font-weight: 300;
        }

        @keyframes slideInLeft {
            from {
                transform: translateX(-100%);
                opacity: 0;
            }

            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes reveal-center {
            0% {
                mask-image: radial-gradient(ellipse at center, transparent 0%, transparent 0%, #232323 0%);
            }

            100% {
                mask-image: radial-gradient(ellipse at center, transparent 0%, transparent 10%, #232323 70%, #232323 100%);
            }
        }

        .animate-slide-in-left {
            animation: slideInLeft 0.8s ease-out forwards;
        }

        .animate-reveal {
            animation: reveal-center 1s ease-out forwards;
            -webkit-animation: reveal-center 1s ease-out forwards;
        }
    </style>
    <style>
        .subcategory-select {
            position: relative;
            overflow: hidden;
            transition: color 0.3s ease-in-out;
            z-index: 0;
        }

        .subcategory-select::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: #C8102E;
            z-index: -1;
            transform: translateX(-100%);
            transition: transform 0.4s ease;
            right: 0;
            /* right-to-left */
        }

        .subcategory-select.active::before {
            transform: translateX(0%);
        }
    </style>

    <script>
        globalThis.category_selected = null;
        globalThis.subcategory_selected = null;
    </script>

</head>

<body class="bg-[#232323] text-white font-sans mt-12 mx-4 sm:mx-10 md:mx-20">

    <!-- Header -->
    <header class="w-full">
        <div class="flex flex-col md:flex-row justify-between items-center w-full">
            <img src="static/logo.svg" alt="FSS Logo" class="h-12 md:h-16 md:mb-0">
            <h1 class="text-2xl md:text-4xl font-bold italic text-center md:text-right w-full md:w-auto">ON-LINE RESULTS
            </h1>
        </div>
        <div class="h-[3px] bg-[#C8102E] mt-2"></div>
    </header>

    <!-- Cover -->
    <section class="relative w-full mt-10">
        <div class="relative h-[70vh] md:h-[60vh] w-full mx-auto overflow-hidden bg-cover bg-center bg-no-repeat rounded-xl"
            style="background-image: url('static/hero%202.png');">
            <div class="absolute inset-0 bg-[#232323] z-20 animate-reveal pointer-events-none"></div>

            <div class="absolute mt-20 md:left-12 w-11/12 md:w-1/3 z-30">
                <div class="opacity-0 animate-slide-in-left">
                    <p class="text-xl md:text-2xl font-medium italic">Results</p>
                    <h2 class="text-2xl md:text-4xl font-extrabold italic">FORMULA STUDENT SPAIN 2025</h2>
                </div>
                <div
                    class="mt-6 opacity-0 animate-slide-in-left delay-[1.2s] text-sm md:text-base text-justify leading-relaxed w-80">
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi
                    enim ad minim veniam, quis nostrud
                    exerci tation ullamcorper suscipit lobortis
                    nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat nulla
                    facilisis at vero eros et accumsan et iusto
                    odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                    facilisi.
                </div>
            </div>
        </div>
    </section>

    <!-- Category Cards -->
    <section class="mt-20 mx-12">
        <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-12 text-2xl">
            {% for category_key in data %}
            <div id="{{ category_key }}"
                class="relative py-4 px-4 bg-[#444444] text-center font-bold cursor-pointer group font-medium italic category-select">
                {{ data[category_key].name }}
                <div
                    class="absolute top-0 left-0 w-full h-1 bg-[#C8102E] scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left">
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    {% set categories = ['combustion&electric', 'driverless', 'classic-cup'] %}
    {% set subcategories = ['endurance', 'acceleration', 'autocross', 'skidpad'] %}
    {% for category_key in data %}
    <section id="{{ category_key }}-results" class="mt-2 mx-12 bg-[#C8102E] results-section" style="display: none;">

        <div class="mx-auto grid grid-cols-1 md:grid-cols-{{data[category_key]['times']|length}} mt-6 text-2xl">
            {% for subcategory in data[category_key]['times'] %}
            <!-- Use data attributes instead of id -->
            <div class="relative py-4 px-4 bg-[#991031] text-center font-bold cursor-pointer group uppercase font-medium italic subcategory-select transition-all duration-300 ease-in-out transform"
                data-subcategory="{{ subcategory }}" data-category="{{ category_key }}"
                onclick="loadSubcat('{{ category_key }}', '{{ subcategory }}')">
                {{ data[category_key]['times'][subcategory].name }}
                {{ subcategory }}
            </div>
            {% endfor %}
        </div>



        <script>
            document.getElementById('filter-button').addEventListener('click', () => {
                const selectedCategory = globalThis.category_selected;
                const selectedSubcategory = globalThis.subcategory_selected;

                if (selectedCategory && selectedSubcategory) {
                    const tableId = `${selectedSubcategory}-${selectedCategory}-results`;
                    const resultTable = document.getElementById(tableId);

                    if (resultTable) {
                        resultTable.style.display = 'block';
                        resultTable.scrollIntoView({ behavior: 'smooth' });
                        loadSubcat(selectedCategory, selectedSubcategory);
                    } else {
                        alert('No results available for the selected category and subcategory.');
                    }

                } else {
                    alert('Please select a category and subcategory first.');
                }
            });
        </script>

        {% for subcategory in data[category_key]['times'] %}
        <section class="mt-2 results-table" id="{{ subcategory }}-{{ category_key }}-results" style="display: none;">
            <div class="mt-4 text-center">
                <button id="filter-button"
                    class="px-6 py-2 my-5 bg-[#444444] text-white font-bold rounded hover:bg-[#C8102E] transition-colors duration-300  ">
                    Filter Results
                </button>
            </div>

            <div class="mx-12 pb-12 overflow-x-auto">
                <table id="{{ subcategory }}-{{ category_key }}-results"
                    class="w-full text-sm text-white bg-neutral-800 border border-gray-700 overflow-hidden min-w-[900px] text-2xl">
                    <thead class="bg-[#444444] text-xs uppercase text-white text-l">
                        <tr>
                            {% if subcategory in ('endurance', 'trackdrive') %}
                            {% set table_headings = ["#", "Num", "Team", "Driver",
                            "Lap", "Car", "Last Time", "Prev Time", "Best Time", "In Lap", "2nd Best"] %}
                            {% else %}
                            {% set table_headings = ["#", "Num", "Round", "Driver", "Team", "University", "Result"] %}
                            {% endif %}

                            {% for heading in table_headings %}
                            {% if loop.first %}<th class="px-3 py-4 text-center font-bold border-r border-white">{{
                                heading }}</th>{% else %}
                            <th class="px-3 py-4 text-center font-bold border-l border-white">{{ heading }}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody class="divide-y divide-white text-sm text-black"></tbody>
                </table>
            </div>
        </section>
        {% endfor %}
    </section>
    {% endfor %}


    <!-- Footer -->
    <footer class="mt-20 text-center text-sm text-gray-400 py-8">
        &copy; 2025 Formula Student Spain. All rights reserved.
    </footer>

    <!-- Scripts -->
    <script>
        function loadSubcat(cat, sub) {
            fetch(`/api/results/${cat}/${sub}`)
                .then(res => res.json())
                .then(json => {
                    const tableId = `${sub}-${cat}-results`;
                    const resultTable = document.getElementById(tableId);

                    if (!resultTable) {
                        console.warn('No table found with ID:', tableId);
                        return;
                    }

                    if (resultTable) {
                        const tbody = resultTable.querySelector('tbody');
                        tbody.innerHTML = '';

                        data = json.rows;

                        data.forEach(team => {
                            const row = document.createElement('tr');
                            row.className = 'odd:bg-white even:bg-[#E5E5E5] hover:bg-[#E5E5E5] transition';
                            team.forEach(info => {
                                const cell = document.createElement('td');
                                cell.className = 'px-3 py-4 text-center text-lg';
                                if (String(info).endsWith('.png') || String(info).endsWith('.jpg') || String(info).endsWith('.jpeg')) {
                                    const img = document.createElement('img');
                                    img.src = info;
                                    img.alt = '';
                                    img.className = 'w-12 mx-auto h-12 object-cover';
                                    cell.appendChild(img);
                                } else {
                                    cell.textContent = info;
                                }
                                row.appendChild(cell);
                            });
                            tbody.appendChild(row);
                        });
                    } else {
                        console.warn('No s\'ha trobat cap taula amb ID:', tableId);
                    }
                });
        }        
    </script>

    <script>
        const categorySelect = document.querySelectorAll('.category-select');
        const subcategorySelect = document.querySelectorAll('.subcategory-select');
        const resultsSections = document.querySelectorAll('.results-section');

        categorySelect.forEach((categoryEl) => {
            categoryEl.addEventListener('click', () => {
                const selectedCategory = categoryEl.id;
                globalThis.category_selected = selectedCategory;

                categorySelect.forEach((cat) => {
                    cat.querySelector('div').classList.add('scale-x-0');
                });
                categoryEl.querySelector('div').classList.remove('scale-x-0');

                resultsSections.forEach((section) => {
                    section.style.display = 'none';
                });
                const sectionToShow = document.getElementById(`${selectedCategory}-results`);
                if (sectionToShow) sectionToShow.style.display = 'block';
            });
        });

        subcategorySelect.forEach((subEl) => {
            subEl.addEventListener('click', () => {
                const subcategory = subEl.dataset.subcategory;
                const category = subEl.dataset.category;
                globalThis.subcategory_selected = subcategory;
                globalThis.category_selected = category;

                document.querySelectorAll('.subcategory-select').forEach((btn) => {
                    btn.classList.remove('bg-[#C8102E]');
                    btn.classList.add('bg-[#991031]');
                });
                subEl.classList.remove('bg-[#991031]');
                subEl.classList.add('bg-[#C8102E]');

                subcategorySelect.forEach((btn) => {
                    btn.classList.remove('active');
                    btn.classList.remove('bg-[#C8102E]');
                    btn.classList.add('bg-[#991031]');
                });
                subEl.classList.remove('bg-[#991031]');
                subEl.classList.add('bg-[#C8102E]');
                subEl.classList.add('active');


                document.querySelectorAll('.results-table').forEach((table) => {
                    table.style.display = 'none';
                });

                const table_id = `${subcategory}-${category}-results`;
                console.log('Table ID: ', table_id);

                const resultTable = document.getElementById(table_id);
                if (resultTable) {
                    resultTable.style.display = 'block';
                    // resultTable.scrollIntoView({ behavior: 'smooth' });
                } else {
                    console.warn('No s\'ha trobat cap taula amb ID:', table_id);
                }
            });
        });
    </script>

</body>

</html>