<!DOCTYPE html>
<html>

<head>
    <title>Best Run</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bestrun.css">
</head>

<body>
    <div class="item" id="fuel">
        <div class="time" style="width: 0px;"><img src="/static/icons/tiempo.png" alt=""></div>
        <div class="run">
            <div class="icon"><img src="/static/icons/fuel.png" alt=""></div>
            <p class="time">10:33:153</p>
            <p class="number">65</p>
            <div class="centered">
                <p class="name">Málaga Racing Team</p>
                <p class="uni">UPC de barcelona</p>
            </div>
        </div>
    </div>

    <div class="item" id="electric">
        <div class="time" style="width: 0px;"><img src="/static/icons/tiempo.png" alt=""></div>
        <div class="run">
            <div class="icon"><img src="/static/icons/electric.png" alt=""></div>
            <p class="time">10:33:153</p>
            <p class="number">65</p>
            <div class="centered">
                <p class="name">Málaga Racing Team</p>
                <p class="uni">UPC de barcelona</p>
            </div>
        </div>
    </div>

    <div class="item" id="hybrid">
        <div class="run">
            <p class="time">10:33:153</p>
            <p class="number">65</p>
            <div class="centered">
                <p class="name">Málaga Racing Team</p>
                <p class="uni">UPC de barcelona</p>
            </div>
        </div>
    </div>

    <script src="/static/js/bestRun.js"></script>
</body>

</html>