<!DOCTYPE html>
<html>

<head>
    <title>Best Run - Front</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/bestRun/front.css">

    <script src="/static/bestRun/front.js"></script>
</head>

<body>

    <div class="centered" id="electric">
        <p>New Best</p>
        <div class="group">
            <h3>BEST RUN ELECTRIC</h3>
            <div>
                <h2>1:35:356</h2>
                <div class="name">UPC de barcelona</div>
            </div>
        </div>
    </div>

    <div class="centered" id="combustion">
        <p>New Best</p>
        <div class="group">
            <h3>BEST RUN COMBUSTION</h3>
            <div>
                <h2>1:33:567</h2>
                <div class="name">Otra Uni</div>
            </div>
        </div>
    </div>
</body>

</html>