<!DOCTYPE html>
<html>

<head>
    <title>Best Run</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/bestRun/front.css">
</head>

<body>

    <div class="run">
        <div class="icon"><img src="/static/icons/fuel.png" alt=""></div>
        <p class="time">10:33:153</p>
        <p class="number">65</p>
        <div class="centered">
            <p class="name">Málaga Racing Team</p>
            <p class="uni">UPC de barcelona</p>
        </div>
    </div>

    <div class="run">
        <div class="icon"><img src="/static/icons/electric.png" alt=""></div>
        <p class="time">10:33:153</p>
        <p class="number">88</p>
        <div class="centered">
            <p class="name">UniBo Motorsport Electric</p>
            <p class="uni">Alma Mater Studiorum - Università di Bologna</p>
        </div>
    </div>

    <div class="run">
        <div class="icon"><img src="/static/icons/hybrid.png" alt=""></div>
        <p class="time">10:33:153</p>
        <p class="number">228</p>
        <div class="centered">
            <p class="name">UCO Autosport</p>
            <p class="uni">Universidad de Córdoba</p>
        </div>
    </div>

</body>

</html>