<!DOCTYPE html>
<html>

<head>
    <title>currentteamfront</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/currentTeam/front.css">
</head>

<body>
    <div class="group">
        <div class="flag"></div>
        <div class="contrainer">
            <div class="number">{{ team.number }}</div>
            <div>
                <div class="teamname">{{ team.name }}</div>
                <div class="uni">{{ team.uni }}</div>
            </div>
        </div>
    </div>
</body>

</html>