<!DOCTYPE html>
<html>

<head>
    <title>FSS - Graphics</title>

    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <h1 style="margin-bottom: 0;">Formula Student Spain</h1>
    <h2 style="margin-top: 0.5rem;">Graphics</h2>

    <div class="zone">
        <p></p>
        <a href="/losmnHjnsytTgsbaH6hs8K9o/teams"><button class="sport-button">Current Team Selector</button></a>
        <a href="/losmnHjnsytTgsbaH6hs8K9o/team"><button class="sport-button">Current Team</button></a>

        <p></p>
        <a href="/losmnHjnsytTgsbaH6hs8K9o/bestrun"><button class="sport-button">Best Run</button></a>

        <p></p>
        <a href="/losmnHjnsytTgsbaH6hs8K9o/endurance"><button class="sport-button">Endurance</button></a>
        <a href="/losmnHjnsytTgsbaH6hs8K9o/extra"><button class="sport-button">All Times</button></a>
    </div>

    <p></p>


    <h3>↓↓ Current Race ↓↓</h3>
    <div class="radio-inputs">
        <label class="radio">
            <input id="skidpad" type="radio" name="radio" />
            <span class="name" onclick="change('skidpad')">SKIDPAD</span>
        </label>

        <label class="radio">
            <input id="acceleration" type="radio" name="radio" />
            <span class="name" onclick="change('acceleration')">ACCELERATION</span>
        </label>

        <label class="radio">
            <input id="autocross" type="radio" name="radio" />
            <span class="name" onclick="change('autocross')">AUTOCROSS</span>
        </label>

        <label class="radio">
            <input id="endurance" type="radio" name="radio" />
            <span class="name" onclick="change('endurance')">ENDURANCE</span>
        </label>
    </div>

    <script>
        document.getElementById("{{ race }}".toLowerCase()).checked = true;

        function change(race) {
            confirmation = confirm("Are you sure you want to change race to " + race + "?");

            if (confirmation) {
                fetch("/losmnHjnsytTgsbaH6hs8K9o", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "race": race.toLowerCase()
                    })
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
            }
            else {
                location.reload();
            }
        }   
    </script>

    {% include 'config.html' %}
</body>

</html>