<!DOCTYPE html>
<html>

<head>
    <title>Sports Scoreboard</title>

    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <h1>Sports Scoreboard</h1>

    <div class="zone">
        <a href="/losmnHjnsytTgsbaH6hs8K9o/teams"><button class="sport-button">Current Team Backend</button></a>
        <a href="/losmnHjnsytTgsbaH6hs8K9o/team"><button class="sport-button">Current Team Frontend</button></a>
    </div>

    <br>
    <div class="zone">
        <a href="/losmnHjnsytTgsbaH6hs8K9o/bestrun"><button class="sport-button">Best Run</button></a>
    </div>

    {% include 'config.html' %}
</body>

</html>