<!DOCTYPE html>
<html>

<head>
    <title>Current Team - Back</title>

    <link rel="stylesheet" type="text/css" href="/static/css/teams.css">

    <script src="/static/js/teams.js"></script>
</head>


<body>
    <div class="headTitle">
        <h1>Scoreboard</h1>
        <button type="submit" onclick="update()">Update</button>
    </div>

    <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for team name..">
    <select id="columnSelect" onchange="searchTable()">
        <option value="name">Number</option>
        <option value="name">Name</option>
        <option value="uni">Uni</option>
        <option value="flag">flag</option>
    </select>

    <form>
        <table>
            <tr>
                <th></th>
                <th>Number</th>
                <th>Name</th>
                <th>Uni</th>
                <th>flag</th>
            </tr>

            {% for team in teams %}
            {% if team.selected == 'true' %}
            <tr style="background-color: var(--fss);">
                <td style="text-align: center;"><input type="radio" name="selectedTeam" checked></td>
                {% else %}
            <tr>
                <td style="text-align: center;"><input type="radio" name="selectedTeam"></td>
                {% endif %}
                <td>{{ team.number }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.uni }}</td>
                <td>{{ team.flag }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% include 'config.html' %}
</body>

</html>