<!DOCTYPE html>
<html>

<head>
    <title>Current Team</title>

    <link rel="stylesheet" type="text/css" href="/static/css/team.css">

    <script src="/static/js/team.js"></script>
</head>

<body>
    <div class="group">
        <div class="flag"></div>
        <div class="contrainer">
            <img style="height: 50px;" src="/static/cars/{{team.number}}.png" alt="" id="carPhoto">
            <div class="number" id="number">{{ team.number }}</div>
            <div id="text">
                <div class="teamname" id="name">{{ team.name }}</div>
                <div class="uni" id="uni">{{ team.uni }}</div>
            </div>
        </div>
    </div>

    <script>currentNum = "{{ team.number }}";</script>
    {% include 'config.html' %}
</body>

</html>