body {
    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.headTitle {
    position: sticky;
    top: 0;
    z-index: 999;

    background-color: white;
    width: 100%;
    height: 10rem;
}

.headTitle button {
    float: right;

    margin-right: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    border: none;
    border-radius: var(--radius);
    background-color: var(--fss);
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

input[type="radio"] {
    zoom: 1.5;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    table {
        font-size: 23px;
    }

    th,
    td {
        padding: 6px;
    }

    h1 {
        font-size: 75px;
    }

    input,
    select {
        zoom: 2;
    }

    button {
        zoom: 1.5;
    }
}