body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    overflow: hidden;

    background-color: darkmagenta;
}


.contrainer {
    display: flex;
    align-items: flex-end;
}

.group {
    zoom: 1.5;
}

.flag {
    width: 30px;
    height: 25px;
    background-image: url('static/flags/spain.png');
    background-size: cover;
}

.number {
    background-color: white;

    width: 120px;
    height: 80px;
    border-radius: 0 0.5rem 0 0.5rem;

    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.teamname,
.uni {
    background-color: var(--fss);
    max-width: 220px;
    height: 30px;

    padding: 0 0.5rem;

    display: flex;
    align-items: center;
}

.teamname {
    border-radius: 0 0.5rem 0 0;
}

.uni {
    border-radius: 0 0 0.5rem 0;
}