body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.contrainer {
    display: flex;
    align-items: flex-end;
}

.group {
    zoom: 1.5;
}

.flag {
    width: 30px;
    height: 25px;
    background-image: url("/static/flags/spain.png");
    background-size: cover;
}

.number {
    background-color: white;

    width: 120px;
    height: 80px;
    border-radius: 0 var(--radius) 0 var(--radius);

    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.teamname,
.uni {
    background-color: var(--fss);
    height: 30px;

    padding: 0 0.5rem;

    display: flex;
    align-items: center;
}

.teamname {
    border-radius: 0 var(--radius) 0 0;
}

.uni {
    border-radius: 0 0 var(--radius) 0;
}

#car {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: none;
    transform: translateX(-100%);

    transition: transform 4s linear;
}

#pushedDiv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: transform 4s linear;
}



@keyframes drive {
    0% {
        left: -800px;
    }

    100% {
        left: 100%;
    }
}

@keyframes push {
    0% {
        left: 50%
    }

    100% {
        left: 100%;
    }
}